@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

#title {
  display: flex;
  justify-content: center;
}

.canvas-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.grid {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  flex-shrink: 0;
}