@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

#title {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
}

.active-box {
  background-color: black;
}