@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

.header {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#title {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-container {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;

  --grid-size: 16;
}

.grid {
  flex: 0 0 calc(100% / var(--grid-size));
  height: calc(100% / var(--grid-size));
  border: 1px solid black;
  box-sizing: border-box;
}

.active-box {
  background-color: black;
}